# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'text.acsl'
'name': 'ACSL'
'fileTypes': [
  'c'
]
'injectionSelector': 'L:source.c'
'patterns': [
  {
    'begin': '/\\*@'
    'end': '\\*/'
    'name': 'comment'
    'patterns': [
      {
        'match': '\\b(assert|assigns|assumes|allocates|axiom|axiomatic
        |behavior|behaviors|breaks|case|char|complete|continues|decreases
        |disjoint|double|else|ensures|enum|exits|float|for|frees|if|inductive
        |int|integer|invariant|global|label|lemma|logic|long|loop|pragma
        |predicate|reads|real|requires|returns|short|signed|sizeof|slice
        |impact|struct|terminates|type|union|unsigned|variant|void)\\b'
        'name': 'keyword.control.acsl'
      }
      {
        'match': ';'
        'name': 'punctuation.terminator.statement.acsl'
      }
      {
        'match': '(==|!=|<=|>=|>|<)'
        'name': 'keyword.operator.comparison.acsl'
      }
      {
        'match': '&&|!|\\|\\|'
        'name': 'keyword.operator.logical.acsl'
      }
      {
        'match': '\\\\(valid|old)'
        'name': 'support.function.acsl'
      }
    ]
  }
]
